__pycache__/
covtype.data.gz
lib/
pyvenv.cfg
tflog/
dist/

.idea/
*.egg-info/
*data_derby/

.DS_Store
.coverage
.python-version
test-report.xml
report.xml
*.svg
typecov/
htmlcov/
site/
coverage/

.venv/
venv/

*pytest_cache
*.pyc
*.ipynb_checkpoints
*h2ologs/
*.log

*.sw[a-p]
*~
Session.vim
Sessionx.vim
